@font-face {
    font-family: 'main';
    src: url('../fonts/caslon_antique.ttf');
}

@font-face {
    font-family: 'alt';
    src: url('../fonts/munro.ttf');
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}